@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: Oswald;
    src:url("/assets/Oswald.ttf");
}

:root {
  --accent-color: #050505;
  --action-color: #050505;
  --light-action: #050505;
  --logo-dark: #e68600;
  --main-yellow: #FFAA11;
  --dark-grey: #656565;
}
/*
Logo Colors
light:#f4de54
mid: #f2c44d
dark: #edac46
*/
* {
  padding: 0;
  margin: 0;
  font-family:  'Oswald',sans-serif;
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: 300;
}
a {
  color: white;
}
a:visited {
  color: white;
}
label {
  font-weight: normal;
  color: black;
}
p {
  font-weight: regular;
}
footer {
  background-color: var(--light-action);
  padding: 2em;
  padding-bottom: 4em;
}
hr {
  border: 1px solid lightgrey;
  margin: 4em 0;
}
input {
  border-radius: 0;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  height: 2em;
}

.navlist {
  display: inline-block;
  font-size: 1.25em;
}
.navlist li {
  display: inline-block;
  color: white;
  margin: 1em;
  padding-right: 0.5em;
  margin-top: 50px;
}
.logo {
  height: 150px;
  width: auto;
  margin: 1em;
  margin-left: 1.75em;
}
.skinny {
  padding: 100px 200px;
}
.doubler {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.button {
  display: block;
  color: black;
  padding: 1.25em;
  background-color: var(--main-yellow);
  width: max-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  border: solid;
  border-width: 1px;
  border-color: transparent;
  height: auto;
  border-width: 1px;
}
.button:visited{
  color: var(--dark-gray);
}
.button:hover{
    background-color: #bbbbbb30;
    border-style: solid;
    border-color: var(--dark-gray);
    border-width: 1px;
}
.boxtitle {
  text-align: center;
  color: var(--accent-color);
  font-size: 300%;
  margin: 0.5em;
}
.boxtext {
  padding: 0 3em;
  font-size: 1.5em;
  font-weight: 200;
  margin-left: 20%;
  margin-right: 20%;
}
.threebox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5vw;
}
.tboxtext{
  margin: 2em;
  font-weight: 200;
  text-align: center;
  padding: 2em;
  border: solid;
  border-width: 0.5em;
      border-color: transparent;

}
.tboxtext:hover{

    border-color: var(--main-yellow);
}
.textpara {
  margin-bottom: 2em;
}

.halfImage {
 width: 100%;
  height: auto;
  min-height: 30vw;
/*background-color: white;
background-image: none !important;*/
  background-attachment: fixed;
background-position: 0% 6em;
background-repeat: repeat-x;
background-size: 50%;
}
.halfImage.mobile{
  display: none;
}
.halfbox {
  padding: 2.5em 0;
}
.phone{
  margin-top: -2em;
  color: white;

}
.fquote,
.ftext {
  display: block;
  text-align: center;
  color: white;
}

.fsocials {
  display: grid;
  grid-template-columns: 1fr repeat(5, min-content) 1fr;
  grid-column-gap: 3em;
  margin: 1em;
}
.soc {
  max-height: 3em;
}
.heroheader {
  height: 300px;
  background-size: cover;
}
.bigheading {
  font-size: 300%;
  color: var(--accent-color);
  text-align: center;
  padding: 1rem;
  font-weight: 500;
}
.medheading {
  font-size: 150%;
  color: var(--accent-color);
  text-align: center;
  padding: 1rem;
}
.baseheader {
  background-color: var(--action-color);
}
.formgrid {
  width: 40vw;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  color: black;
}
.verify{
  width: 4em;
  margin: 1em 0;
}
.formgrid input,
.formgrid textarea {
  margin-bottom: 1em;
}
.listtitle {
  font-size: 2em;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 2em;
}
.slashthing{
  color: var(--logo-dark);
  font-size: 1.5em;
  font-weight: 900;
}
.servlist {
  padding: 0 2em;
  margin-left: 4em;
}
.servlist li {
  margin-top: 0.75em;
}
.tquote {
  text-align: center;
  line-height: 2;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
}
.qtitle {
  font-size: 2em;
  font-weight: 200;
  color: var(--accent-color);
}
.openingquote {
  font-size: 4em;
  color: var(--light-action);
  font-family: Times;
  text-align: center;
  margin: 0.25em;
}
.quotecaption {
  padding: 2em;
  display: block;
  color: var(--action-color);
  text-align: center;
  font-family: "Poppins";

}
/*nav dropdown stuff*/
.navdropdowncont {
  /*display: none;
  position: absolute;
  background-color: var(--action-color);*/
  z-index: 2;
  padding: 0;
  padding-top: 0;
  font-weight: 200;

}
.navlist .overalldroplist{
  padding: 0;
  margin-right: 0;
}
.navquote{
  margin-left: 0em;
}
.navdropdown:hover .navdropdowncont {
  /*display: block;*/
}
.navdropdowncont a {
/*  display: block;*/
  margin-top: 1em;
  z-index: 2;
  padding: 0 0.5em;

}
.navdropdowncont a:hover {
  color: var(--main-yellow);
}
.menu {
  display: none;
}
.circled {
  border-radius: 1.5em;
  border-color: white;
  border-style: solid;
  padding: 0.5em;
}
/*end dropdown*/
.large {
  height: 100vh;
}
.textpara.box {
  padding: 2em;
  font-size: 1.5em;
  font-weight: 200;
}
.textpara.slim{
  color: black;
}
.yellow{
  background-color: var(--main-yellow);
}
.slim{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.floatlink{
  position: relative;
  top: -4em;
}
.roofImages{
  scroll-snap-type: y mandatory;
  height: calc(100vh - 6em);
    overflow-y: scroll;
}
.teslaStyle{
  height: calc(100vh - 6em);
  display: block;
  margin-left: auto;
  margin-right: auto;
  scroll-snap-align: start;
}

@keyframes logo {
  0% {
    width: 10%;
    display: block;
  }
  80%{
    opacity: 100%
  }
  99% {
    width: 30%;
  display: block;

}
  100% {
    opacity: 0;

  }
}
.high{
  color: var(--main-yellow) !important;
}
.otherheader{
  height: calc(150px + 2em);
  background-color: black;
}
#abouti{
  font-weight: 700;
}
#vidlogo{
  width: 10%;
  display: block;
  margin: auto;
  margin-top: 30%;
  animation-name: logo;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#topnav a:hover {
  color: var(--main-yellow);
}
#mainheader {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-size: cover;
}
#mainhero {
  color: white;
  text-align: center;
  padding: 2.5em;
  font-size: 450%;
  position: relative;
  z-index: 1;
}
#abouthero {
  background-image: url("../assets/frontpic.png");
}
#topnav {
  position: sticky;
   position: -webkit-sticky;
   top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  height: calc(min-content + 2em);
  float: right;
width: 100vw;
transition: background-color 0.5s;
font-weight: 300;
}
#vidcut {
  display: block;
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  height: calc(100vh + 6em);
  overflow: hidden;
  top: 6em;

  background-color: rgba(10, 10, 10, 0.5);
}
#bgvideo {
  min-height: 100vh;

  min-width: 100vw;
  display: block;
  position: absolute;
  z-index: -10;

  top: 31%;
  left: 25%;
  -ms-transform: translateX(-25%) translateY(-15%);
  -moz-transform: translateX(-25%) translateY(-15%);
  -webkit-transform: translateX(-25%) translateY(-15%);
  transform: translateX(-25%) translateY(-15%);
  background-size: cover;

  background-color: black;
}
#msgtag{
  color: black;

}
@media screen and (max-width: 900px) {
  .logo{
    height: 100px;
  }
  .halfImage {
    display: none;
  }
  .halfImage.mobile, .halfImage.mobile2{
    display: block;
    height: 60%;
    min-height: 75vw;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    background-position: center;
    background-attachment: scroll;
  }
  .skinny, .skinnymobile {
    padding: 10vw 10vh;
  }
  .doubler {
    display: grid;

    grid-template-columns: 1fr;
    max-width: 100vw;
  }
  .threebox{
    display: block;
  }
  .diss {
    display: none;
  }
  .navlist li:not(:first-child) {
    display: none;
  }
  .navlist.res {
    display: inline-block;
    background-color: var(--action-color);
    z-index: 2;
    min-height: 100vh;
    height: max-content;
    padding-bottom: 1em;
  }
  .navlist.res li {
    display: block;
    color: white;
    margin: 1em;
    margin-top: 25px;
    text-align: right;
  }
  .textpara,
  .boxtext {
    text-align: center;
  }
  .boxtext{
    margin-left: 5%;
    margin-right: 5%;
  }
  .menu {
    display: block;
  }
  .navlist.res .menu {
    margin-left: 80%;
  }
  .navdropdowncont {
    display: none;
    position: relative;
    background-color: var(--accent-color);
    z-index: 2;
    margin-left: -1em;
    margin-right: -2em;
    width: 100%;
    padding: 1em;
    padding-top: 0.5em;
    padding-right: 1em;
  }
  .navdropdown .navdropdowncont {
    display: block;
  }
  .navdropdown .navdropdowncont a{
    display: block;
  }
  .bigheading {
    font-size: 200%;
  }
  .formgrid {
    width: 80vw;
    min-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    color: black;
  }
  .skinnymobile{
    padding: 5vw;
  }
  .listtitle {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1.5em;
  }
  .textpara.box {
    padding: 1.5em;
    font-size: 1.25em;
    font-weight: 200;
  }
  .boxtitle {
    font-size: 250%;
  }
  .floatlink{
    position: relative;
    top: -6em;
  }
  .floatlink.contact{
    position: relative;
    top: -4em;
  }
  .phone{
    margin-top: 0;
  }
  #topnav {
    z-index: 2;
      height: calc(min-content + 2em);
  }
  #mainhero {
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 300%;
  }
  #contactform{
    color: black;
  }
  #bgvideo{
    top: 31%;
    left: 15%;
    -ms-transform: translateX(-38%) translateY(-15%);
    -moz-transform: translateX(-38%) translateY(-15%);
    -webkit-transform: translateX(-38%) translateY(-15%);
    transform: translateX(-38%) translateY(-15%);
  }
  .soc {
    max-height: 2em;
  }
  .fsocials {
    display: grid;
    grid-template-columns: 1fr repeat(5, min-content) 1fr;
    grid-column-gap: 1.5em;
    margin: 1em;
  }
}
